.urc-card{
    text-align: center;
}
.btn-wp-security{
    padding: 8px 40px;
    background-color: #2782ad;
    color: #fff;
    border: none;
}
.btn-save{
    padding: 5px 20px;
    background-color: #2782ad;
    color: #fff;
    border: none;
}
.progress{
    background-color: green;
}